# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
* .cs linguist-detectable=true

*.sln linguist-detectable=false
*.txt linguist-detectable=false
*.md linguist-detectable=false
*.tres linguist-detectable=false
*.godot linguist-detectable=false
*.tscn linguist-detectable=false
*.svg linguist-detectable=false
*.png linguist-detectable=false
